/bin/
.worksheet/bin/ConsecutiveDuplicatesIntoSublists$$anonfun$main$1$$anonfun$pack$1$1.class
.worksheet/bin/ConsecutiveDuplicatesIntoSublists$$anonfun$main$1.class
.worksheet/bin/ConsecutiveDuplicatesIntoSublists$.class
.worksheet/bin/ConsecutiveDuplicatesIntoSublists.class
.worksheet/bin/EliminateConsecutiveDuplicates$$anonfun$main$1$$anonfun$1.class
.worksheet/bin/EliminateConsecutiveDuplicates$$anonfun$main$1$$anonfun$eliminate$1$1.class
.worksheet/bin/EliminateConsecutiveDuplicates$$anonfun$main$1.class
.worksheet/bin/EliminateConsecutiveDuplicates$.class
.worksheet/bin/EliminateConsecutiveDuplicates.class
.worksheet/bin/RunLengthEncoding$$anonfun$main$1.class
.worksheet/bin/RunLengthEncoding$.class
.worksheet/bin/RunLengthEncoding.class
.worksheet/bin/TestSheet$$anonfun$main$1.class
.worksheet/bin/TestSheet$.class
.worksheet/bin/TestSheet.class
.worksheet/src/ConsecutiveDuplicatesIntoSublists.scala
.worksheet/src/EliminateConsecutiveDuplicates.scala
.worksheet/src/RunLengthEncoding.scala
.worksheet/src/TestSheet.scala
.cache-main
.settings/
